//VAR COLORS
$greenFusion: #00ffaa;
$greenFusionHigth: #00ff95;
$shadowGreen: rgba(0, 255, 149, 0.1);
$darkGray: #272b33;
$obscure: #2c2c2c;
$obscureHigth: #1e1e1e;
$gray: #3a3f4b;
$grayAlternative: #9e9e9e;
$white: #ffffff;
$blue: #007bff;
$red: #ff0000;
$green: green; 
$lightGray: #fafafa;
