.home-pages {
    padding-top: 100px;

    &__title {
        color: black;
        font-size: 90px;
         
    }

    &__align-grid {
        display: flex;
        justify-content: flex-end; 
        gap: 15px; 
        font-size: 24px;
        margin: auto 20px;

        &__button {
            cursor: pointer;
        }

    }

    &__container-grid-items {
        display: grid;
        gap: 20px;
        background: $obscure;
        padding: 60px 25px;
    }  

    &__grid-2-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    &__grid-3-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    &__grid-4-columns {
        grid-template-columns: repeat(4, 1fr);
    }
  
}

.background-paginator {
    background: $obscure;
    padding-bottom: 50px;
} 


@media (max-width: 900px) {
    .home-pages {
        &__container-grid-items {
            grid-template-columns: repeat(1, 1fr);       
        }   
    }

    .home-pages__align-grid__button {
        display: none; 
    }
    .home-pages__title {
            font-size: 60px;
    }
    


}


