.paginator {
    display: flex;
    align-items: center;
   
    justify-content: center;
    gap: 16px; /* Espaciado entre elementos */

    &__button {
        font-size: 24px; /* Tamaño de los íconos */
        padding: 10px 16px; /* Espaciado interno */
        border: 2px solid $blue; /* Borde grueso azul */
        border-radius: 8px; /* Bordes redondeados */
        background-color: $white;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    &__button:hover {
        background-color: $blue;
        color: $white;
    }

    &__flashbutton:hover {
        background-color: $blue;
        color: $white;
    }

    &__number {
        font-size: 20px;
        font-weight: bold;
        padding: 5px 12px;
        border: 2px solid $blue;
        border-radius: 6px;
        background-color: $white;
    }

    &__flashbutton {
        margin: 0 25px;
        font-size: 16px;
        padding: 5px 9px;
        border: 2px solid $blue;
        border-radius: 8px;
        background-color: $white;
        cursor: pointer;
        transition: all 0.99s ease;
    }
  }
  
